html {
  display: flex;
  align-items: center;
}

main {
  width: 100%;
}

/* inputs one fields */

div.two_fields_diveder {
  display: flex;
  flex-direction: column;

  width: 96%;

  box-sizing: border-box;

  & div#number_field {
    width: 20%;
  }
}


/* date input */

div.date_input_field {
  width: 100%;
}


/* drag & drop */

div.drag_file_field > h2 , span.or {
  display: none;
}

